.left-side {
  width: 50%;
  background-color: #02150c;
  display: flex;
  flex-direction: column;
  /* Use space-between if you want to space out the top, middle, and bottom sections */
  padding: 20px;
  box-sizing: border-box;
  /* Adjust or remove padding-left as needed */
  text-align: left; /* Ensure text is aligned to the left */
}

.left-bottom {
  position: absolute;
  bottom: 0px;
}

.left-top {
  padding: 20px 0;
  text-align: left; /* Ensure text is aligned to the left in these sections */
}
