.section {
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh; /* Ensures each section fills the viewport height */
  color: #ffffff; /* Default text color */
}

.section h2 {
  margin-bottom: 20px; /* Space below the title */
  font-size: 2rem; /* Adjust as needed */
  font-weight: 700; /* Medium weight */
  margin-top: 0; /* Top margin */
  font-family: "Inter", sans-serif; /* Apply the Inter font */
  color: #e2e8f0; /* Equivalent to text-slate-200 */
  letter-spacing: -0.015em; /* Equivalent to tracking-tight */
  text-decoration: none; /* Ensure no underline on links */
}

.section p {
  font-size: 1.1em; /* Size of the section content text */
  line-height: 1.6; /* Line height for better readability */
  margin-bottom: 20px; /* Space below the paragraphs */
  color: rgb(160, 160, 160);
  font-family: "Inter", sans-serif; /* Apply the Inter font */
  letter-spacing: -0.015em; /* Equivalent to tracking-tight */
  text-decoration: none; /* Ensure no underline on links */
  font-weight: 400; /* Thin */
}

.custom-heading-h1 {
  font-size: 2.25rem; /* Adjust as needed */
  font-family: "Inter", sans-serif; /* Apply the Inter font */
  color: #e2e8f0; /* Equivalent to text-slate-200 */
  letter-spacing: -0.015em; /* Equivalent to tracking-tight */
  text-decoration: none; /* Ensure no underline on links */
}

.custom-heading-h3 {
  font-size: 1.25rem; /* Adjust as needed */
  font-weight: 500; /* Medium weight */
  margin-top: 0; /* Top margin */
  font-family: "Inter", sans-serif; /* Apply the Inter font */
  color: #e2e8f0; /* Equivalent to text-slate-200 */
  letter-spacing: -0.015em; /* Equivalent to tracking-tight */
  text-decoration: none; /* Ensure no underline on links */
}
