.right-side {
  width: 50%;
  overflow-y: auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #02150c;
  padding-right: 20rem;
}

.section {
  box-sizing: border-box;
  border-radius: 25px;
}
