.right-side {
  width: 60%;
  overflow-y: auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #02150c;
  padding-right: 20rem;
}

.section {
  box-sizing: border-box;
  border-radius: 25px;
}

#section-heading {
  font-size: 23px; /* Adjust as needed */
  font-weight: 500; /* Medium weight */
  margin-bottom: 10px; /* Top margin */
  font-family: "Inter", sans-serif; /* Apply the Inter font */
  color: #e2e8f0; /* Equivalent to text-slate-200 */
  letter-spacing: -0.015em; /* Equivalent to tracking-tight */
  text-decoration: none; /* Ensure no underline on links */
}
